.bookCard {
    display: block;
    flex-direction: column;
    padding: 0.6rem;
    box-shadow: 0 0 0.5rem rgb(181, 178, 178);
    border-radius: 5px;
    margin: 1rem 0;
    width: 200px;
    overflow-wrap: break-word;
}

.bookImage {
    height: 250px;
    width: 200px;
    background-color: grey;
}
.bookCoverImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bookTitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.7rem;
}
.bookAuthor {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid gray;
}

.bookActions {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}
.bookActions_icon {
    display: inline-block;
    height: 26px;
    cursor: pointer;
}

.editForm {
    font: 1.2rem;
    box-shadow: none;
    padding: 0;
    margin-top: 0.7rem;
    border-radius: 0;
    border-bottom: 1px solid gray;
}
.editButton {
    visibility: hidden;
    height: 0;
}
.editForm_input {
    padding: 0 0.2rem;
    border: 0;
    width: 100%;
    background-color: rgb(231, 239, 255);
    margin: 0.1rem 0;
    outline-color: blue;
}
