.bookList {
    margin: 1rem auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    box-shadow: 0 0 0.5rem rgb(181, 178, 178);
    border-radius: 5px;
}
.emptyList {
    margin: 5rem auto;
    font-size: 1.5rem;
    font-weight: 700;
}
